.head{
    color:white;
    background-color:black;
}
.btn{
    background-color:white;
    color:black;
    width:241px;
    height:54px;
    cursor:pointer;
}
.button{
    cursor:pointer;
}